body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px 0 15px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .header-wrapper {
    width: 80%;
  }
}

header a {
  font-style: italic;
}

header a:hover {
  font-style: normal;
}

header h1 {
  text-transform: uppercase;
  font-size: 2.6rem;
}

header h1,
header p {
  margin: 0;
}

header span {
  word-break: keep-all;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

section p {
  margin: 0;
}

.row {
  width: 69%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px;
  width: 90%;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .row {
    width: 100%;
  }

  section {
    width: 100%;
    margin: 150px 0 50px 0;
  }
}

.info {
  font-size: 19px;
  font-weight: normal;
  padding-left: 75px;
  position: relative;
  margin: 15px 0 0;
}

.info .title {
  line-height: 1;
  text-transform: uppercase;
}

.info .episodeData,
.quote {
  font-family: 'times-now';
}

.info .episodeData {
  width: 75px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 2px;
  font-size: 13px;
  line-height: 1;
}

.quote {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .info .episodeData {
    left: 10px;
  }
}
