body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 10px 0 15px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  font-style: italic;
}

header a:hover {
  font-style: normal;
}

header h1 {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: normal;
}

header h1,
header p {
  margin: 0;
}

header span {
  word-break: keep-all;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .header-wrapper {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

section p {
  margin: 0;
}

.row {
  width: 69%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px;
  width: 90%;
  z-index: 0;
}

@media only screen and (max-width: 767px) {
  .row {
    width: 100%;
  }

  section {
    width: 100%;
    margin: 150px 0 50px 0;
  }
}
